<div class="form-group">
    <label for="Title" id="title">Title</label>
    <input type="text" id="title" name="title" class="form-control">
</div>
<div class='form-group'>
    <label for="descriptoin" id="descriptioin">Description</label>
    <textarea name="description" placeholder="" id="description"  cols="20" rows="10" class="form-control"></textarea>
</div>
<div class='form-group'>
    <label for="markdown" id="markdown">Markdown</label>
    <textarea name="markdown" id="markdown" cols="20" rows="10" name="markdown" class="form-control"></textarea>
</div>
<a href="/" class="btn btn-secandry">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
<button type="reset" class="btn btn-secandry">Reset</button>